section.about
  .flex.center--center
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deleniti nisi! Id magni, unde blanditiis facilis consectetur fugiat quis a rem tenetur minus explicabo autem maiores, ad aut architecto. Explicabo.
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum rerum adipisci asperiores, non nisi deleniti enim voluptatem earum reprehenderit saepe, maxime repellendus facere modi dolores, odit vero. Laudantium, eligendi molestias.
    
section.youtube
  .flex.center--space-around
    .col-1
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deleniti nisi! Id magni, unde blanditiis facilis consectetur fugiat quis a rem tenetur minus explicabo autem maiores, ad aut architecto. Explicabo.
    .col-1.order-first
      p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum rerum adipisci asperiores, non nisi deleniti enim voluptatem earum reprehenderit saepe, maxime repellendus facere modi dolores, odit vero. Laudantium, eligendi molestias.

section.youtube
  .flex.flex--center
    .col-2
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deleniti nisi! Id magni, unde blanditiis facilis consectetur fugiat quis a rem tenetur minus explicabo autem maiores, ad aut architecto. Explicabo.
  

section.youtube
  .flex.center--center
    .col-50.flex.flex--center
      .col-1
        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, deleniti nisi! Id magni, unde blanditiis facilis consectetur fugiat quis a rem tenetur minus explicabo autem maiores, ad aut architecto. Explicabo.
    .col-50
      p CTA Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum rerum adipisci asperiores, non nisi deleniti enim voluptatem earum reprehenderit saepe, maxime repellendus facere modi dolores, odit vero. Laudantium, eligendi molestias.
