header 
  .header-position
    h1.logo Joshua Jenkins
  
  nav.site-nav
    ul
      li: a(href="#about") About
      li: a(href="#youtube") YouTube
      li: a(href="#mentoring") Mentoring
      li: a(href="#articles") Articles
      li: a(href="#notes") Notes
  
  a(href="mailto:joshuajenkins83@gmail.com").email-link +email me
    
